.footer {
  position: relative;
  background-color: $primary;
  z-index: 2;
  position: relative;
  .container{
    @include media-breakpoint-up(sm) {

      
      padding-top: 61px;
      padding-bottom: 50px;
    }
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    @include media-breakpoint-up(sm) {

      &::before{
        content: url(../img/footer-left.svg);
        position: absolute;
        bottom: -5px;
        // z-index: -1;
        background-repeat: no-repeat;
        right: 100%;
      }
      &::after{
        content: '';
        position: absolute;
        left: 80%;
        z-index: -1;
        background-image: url(../img/footer-tr.svg);
        width: 600px;
        height: 340px;
        bottom: 0;
        background-position: 0 35%;
        
      }
    }
  }
  
  ul{
    font-size: 13px;
    list-style-type: none;
    @include media-breakpoint-up(sm) {

      
      margin-bottom: 48px;
    }
    margin-bottom: 20px;
  }
  li{
    margin-bottom: 6px;
  }
  color: #ffffff;
  a{
    color: #ffffff !important;
  }
  &__title{
    margin-bottom: 20px;
  }
&__copy{
  font-size: 13px;
}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}