mixin s-about()
	// start s-about
	+b.s-about.section#s-about.lazy-background.pt-0&attributes(attributes)
		.container
			+b.section-title
				h2.text-primary CLIMATE - заголовок для текста о компании
				+e.text За годы своей работы Компания Климат успела зарекомендовать себя как надежного партнера на объектах любой сложности. Мы команда профессионалов, работающих для вас в Москве, Санкт-Петербурге, Воронеже, Липецке, Новосибирске, Красноярске и других регионах  России и стран СНГ. 
			+e.head: .row
				mixin item(i, t, p)
					+e.col.col-lg-3.col-sm-6
						+e.item
							+e.img-wrap
								img.lazy(src="#" data-src=`img/about-i-${i}.svg`  alt="")
							+e.DIV.title.strong= t
							+e.text= p
					// /+e.col.col-md
				+item('1','Высокое качество услуг','Наши специалисты оказывают квалифицированную поддержку на всех этапах')
				+item('2','Лучшее оборудование','Мы являемся официальными представителями ведущих европейских производителей')
				+item('3','Отличный  сервис','Разработанный нами комплекс услуг полностью соответствует высоким европейским стандартам')
				+item('4','Лучшее предложение','Для наших постоянных партнеров действуют гибкие условия скидок')
			.row
				.col
					+b.video-wrap
						iframe(width='560', height='315', src='https://www.youtube.com/embed/fd53wj7dagA',  allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
				.col-lg-auto
					+e.right-block
						mixin item(i,p)
							+e.item-body
								+e.icon-wrap
									img.lazy(src="#" data-src=`img/about-i-${i}.svg`  alt="")
								+e.caption= p
						+item('5','С 2015 года мы являемся Генеральным дистрибьютором Clivet.  ')
						+item('6','Наши офисы расположены в Москве, Санкт-Петербурге, Красноярске, Липецке.')
						+item('7','Наши специалисты сочетают многолетний практический опыт и обширные теоретические знания.')
						+share() 
						

	// end s-about

mixin s-about-02()
	// start s-about
	+b.s-about--page.section#s-about.pb-0.lazy-background.pt-0&attributes(attributes)
		.container
			+b.section-title 
				.h3.text-blue-dark.strong За годы своей работы Компания Климат успела зарекомендовать себя как надежного партнера на объектах любой сложности. Мы команда профессионалов, работающих для вас в Москве, Санкт-Петербурге, Воронеже, Липецке, Новосибирске, Красноярске и других регионах  России и стран СНГ. 
			+e.head: .row
				mixin item(i, t, p)
					+e.col.col-lg-3.col-sm-6
						+e.item
							+e.img-wrap
								img.lazy(src="#" data-src=`img/about-i-${i}.svg`  alt="")
							+e.DIV.title.strong= t
							+e.text= p
					// /+e.col.col-md
				+item('1','Высокое качество услуг','Наши специалисты оказывают квалифицированную поддержку на всех этапах')
				+item('2','Лучшее оборудование','Мы являемся официальными представителями ведущих европейских производителей')
				+item('3','Отличный  сервис','Разработанный нами комплекс услуг полностью соответствует высоким европейским стандартам')
				+item('4','Лучшее предложение','Для наших постоянных партнеров действуют гибкие условия скидок')
			.row
				.col
					+b.video-wrap
						iframe(width='560', height='315', src='https://www.youtube.com/embed/fd53wj7dagA',  allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='') 
				.col-lg-6
					p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
			p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
			p
				strong.text-primary Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."
						

	// end s-about

