
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 

	+form-wrap()(id="modal-call" class="zoom-anim-dialog mfp-hide modal-win modal-form" )
		.text-center
			+e.title.h3.ttu Обратный звонок
			p Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течении 15&nbsp;минут
		+input("text","Ваше Имя")(required) 
		+input("tel","Ваш телефон")(required)
		//- +input("email","Ваше email")(required)
		//- +text( "Комментарий")
		+e.INPUT.btn.btn.btn-block.btn-warning.mb-4(type="submit" value="Отправить") 
		+polite()
	// #modal-call
	
	+b.modal-object(id="modal-object" class="zoom-anim-dialog mfp-hide modal-win modal-win--lg" )
		.row
			
			.col-lg-8
				+e.sliders
						mixin sliders(...items) 
							+e.slider-big
								each item in items
									+e.slide-big
										+e.img-wrap.img-bg
											img.res-i(src="#" data-lazy=`img/${item}.jpg`, alt="")
							+e.slider-small
								each item in items
									+e.slide-small
										+e.img-wrap.__img-wrap-small.img-bg
											img.res-i(src="#" data-lazy=`img/${item}.jpg`, alt="")
						+sliders("object-img","object-img","object-img","object-img","object-img","object-img","object-img","object-img","object-img","object-img") 
			.col-lg-4
				+e.title Магазин пормышленного оборудования на ул. Воскресенкской
				p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации 
	// #modal-object

	// modal