.s-card-body {
	h2{
		padding-bottom: 30px;
	}
	li{
		list-style-type: none;
		padding-left: 38px;
		padding-top: 1.1em;
		padding-bottom: 1.1em;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			left: 10px;
			top: 1.6em;

			background: #C4C4C4;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			
		}
		&:not(:last-child){
			border-bottom: 1px solid #E1E5E7;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
		
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}