mixin s-card-body()
	// start s-card-body
	+b.s-card-body.section.pt-0
		.container
			h2.text-blue-dark Характеристики и преимущества
			ul
				li высокая производительность и высокий напор;
				li низкий уровень шума;
				li использование как в 2-х трубных, так и в 4-х трубных системах;
				li компактные размеры;
				li увеличение энергетической эффективности за счет использования ЕС-вентилятора (опция);
				li богатый опциональный состав, включая шумоглушение и камеры смешения.
	// end s-card-body