extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-patner/_s-patner.pug
include ../blocks/s-sert/_s-sert.pug

block title
	title О компании

block pagecontent
	+mob-mnu()
	.main-wrapper.main-wrapper--page.main-wrapper--not-top-triangale
		+header()
			+top-line()
			+top-nav() 
		.page-head
			.container
				+breadcrumb('О компании','Главная')
				h1 CLIMATE - заголовок для текста о компании
		//- +s-category
		+s-about-02
		+s-patner
		//- +s-sert
		+s-form()
		+footer()
		+s-contact()
		
	