extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-patner/_s-patner.pug
include ../blocks/s-sert/_s-sert.pug
include ../blocks/s-prod/_s-prod.pug

block title
	title Каталог  Складское оборудование

block pagecontent
	+mob-mnu()
	.main-wrapper.main-wrapper--page
		+header()
			+top-line()
			+top-nav() 
		.page-head
			.container
				+breadcrumb('Складское оборудование','Главная')
				h1 Складское оборудование
		+s-category(class="pt-0")
		+s-prod 

		+s-sert
		//- +s-about-02
		//- +s-patner
		+s-form-03()
		+footer()
		+s-contact()
		
	