extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-patner/_s-patner.pug
include ../blocks/s-sert/_s-sert.pug
include ../blocks/s-docs/_s-docs.pug
include ../blocks/s-card-head/_s-card-head.pug
include ../blocks/s-card-body/_s-card-body.pug

block title
	title Товар

block pagecontent
	+mob-mnu()
	.main-wrapper.main-wrapper--page.main-wrapper--without-triangale
		+header()
			+top-line()
			+top-nav() 
		.page-head
			.container
				+breadcrumb('ELFODuct MP/HP','Главная',' Каталог ','Коммерческим организациям ')
				h1 ELFODuct MP/HP
		 
		+s-card-head
		+s-card-body
		//- +s-about-02
		//- +s-patner
		+s-form-03()
		+footer()
		+s-contact()
		
	