extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-patner/_s-patner.pug
include ../blocks/s-sert/_s-sert.pug
include ../blocks/s-news/_s-news.pug

block title
	title Новости

block pagecontent
	+mob-mnu()
	.main-wrapper.main-wrapper--page.main-wrapper--without-triangale
		+header()
			+top-line()
			+top-nav() 
		.page-head
			.container
				+breadcrumb('Новости','Главная')
				h1 Новости
		 
		+s-news
		//- +s-about-02
		//- +s-patner
		//- +s-form-03()
		+footer()
		+s-contact()
		
	