.s-card-head {
	.row{

		@include roww(13);
	}
	&__sliders{
		@include media-breakpoint-up(md) {

		margin-bottom: rem(35px);
	}
	margin-bottom: rem(20px);
		@include media-breakpoint-down(xs) {
			.row{
				@include roww(3);
			}
		}
		.col{
			// max-width: ;
		}
	}
	p{
		@include media-breakpoint-up(md) {

			margin-bottom: 3.8em;
			// margin-top: 1em;
			padding-top: 1em;
		}
	}
	&__btn{
		 
		margin-bottom: rem(25px);
		font-size: rem(20px);
		font-weight: bold;
		padding: rem(18) rem(10);
		width: rem(261px);
	}
	&__link{
		margin-right: rem(10px);
		.icon{
			font-size: rem(22px);
			margin-right: rem(10px);
		}
	}
	&__slider-big{
		margin-bottom: rem(10px);
		max-width: 100%;
 	}
	&__slide-big{
		@include media-breakpoint-up(sm) {
			height: rem(478px);
		}
		height: rem(323px);
	}
 	&__img-wrap{
 		display: block;
		text-align: center;
		display: -webkit-flex;
		 display: -moz-flex;
		 display: -ms-flex;
		 display: -o-flex;
		 display: flex;
		 height: 100%;
		 justify-content: center;
		 align-items: center;
			border: 1px solid $blue-l;
			margin-left: rem(2px);
			margin-right: rem(2px);
			padding: rem(15px);
			img{
				max-height: 100%;
			}
		&-small{

			// margin-left: 5px;
  		 // margin-right: 5px;
			 background-color: #FFF;
			 margin: 0;
 		 margin-bottom: rem(15px);

 		 border: 1px solid $blue-l;
		 padding: rem(12px);
		}
 	}

 	&__slider-small{
	 	// width: 120px;
		// width: 72px;
		// height: 100%;
		// height: 411px;
		max-width: 100%;
 	}
 	&__slide-small{
		@include media-breakpoint-up(md) {

			width: rem(108px) !important;
		}
		@include media-breakpoint-up(sm) {
			height: rem(108px) !important;
			
		}
		height: rem(69px) !important;
		margin-bottom: rem(13px);
		// mt
 	}

	&__item{
	 text-align: center;
	 padding: rem(5px) rem(5px);
	 background-color: #FFF;
	 border: 1px solid $blue-l;
	}
	&__slider{
	 padding-left: rem(10px);
	 padding-right: rem(10px);
	 cursor: pointer;
	 @include mt;
	}
	&__slide{
	 margin-left: rem(5px);
	 margin-right: rem(5px);
	 padding-top: rem(20px);
	 padding-bottom: rem(20px);
	 
	}
 
	.text-primary.strong{
		@include media-breakpoint-up(md) {

			margin-bottom: 2em;
		}
		margin-bottom: 1em;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}

	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {}

	.slick-vertical .slick-slide{
		max-width: 100%;
	}
}

p{
	line-height: 1.7;
}
