mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)


mixin breadcrumb(act, ...items)
	nav.breadcrumb
		a.back(href="#")
			+icon('arrow-back')
			| Назад
		each item in items
			a.breadcrumb-item(href='#')= item 
		span.breadcrumb-item.active= act
		
mixin pugin()
	nav(aria-label='...')
		ul.pagination 
			li.page-item
				a.page-link(href='#') 1
			li.page-item.active
				a.page-link(href='#')
					| 2 
			li.page-item
				a.page-link.page-link-more(href='#') ...
			li.page-item
				a.page-link(href='#') 3
	.pagination-block
		nav
			<ul class="page-numbers">
				<li><span aria-current="page" class="page-numbers current">1</span></li>
				<li><a class="page-numbers" href="https://nhvac.ru/shop/page/2/">2</a></li>
				<li><a class="page-numbers" href="https://nhvac.ru/shop/page/3/">3</a></li>
				<li><a class="page-numbers" href="https://nhvac.ru/shop/page/4/">4</a></li>
				<li><span class="page-numbers dots">…</span></li>
				<li><a class="page-numbers" href="https://nhvac.ru/shop/page/6/">6</a></li>
				<li><a class="page-numbers" href="https://nhvac.ru/shop/page/7/">7</a></li>
				<li><a class="page-numbers" href="https://nhvac.ru/shop/page/8/">8</a></li>
				<li><a class="next page-numbers" href="https://nhvac.ru/shop/page/2/">→</a></li>
			</ul>
//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
mixin arrow()
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
		
 
mixin soc()
	+b.soc
		mixin item()
			+e.A.item(href="" target="_blank"): i(class="fab")&attributes(attributes)
		+item()(class="fa-twitter")
		+item()(class=" fa-facebook")
		+item()(class="fa-google-plus")
//- WP menu
mixin mnu()
	- var nav= { "Главная":"#","О компании":"#","Каталог":"#","Оборудование на складе":"#" ,"Объекты":"#","Загрузки":"#"," Новости":"#","Контакты":"#"}
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href="#")= linkName

//- mixin mnu()
//- 	- var nav= {"Продукция ":"#","Услуги  ":"#","Подбор септика   ":"#","Акции ":"#"," О компании  ":"#"," Доставка и оплата ":"#"," Клиентам  ":"#"," Наши работы   ":"#","Контакты ":"#"}
//- 	+e.UL.nav
//- 		each linkPatch, linkName in nav
//- 			+e.LI.item: +e.A.link(href= linkPatch)= linkName
mixin share()
	+b.soc--share
		+e.title.small Поделиться:
		.ya-share2(data-services='vkontakte,facebook,odnoklassniki,twitter,telegram')
		