
mixin prod(i, t)
	+b.prod-item(href="#")
		+e.DIV.img-wrap
			img.lazy(src="#" data-src=`img/prod-${i}.png`, alt="")
		+e.DIV.title= t
		+e.DIV.text Вентиляторные доводчики канального типа ELFODuct MP
		
mixin s-prod()
	// start s-prod
	+b.s-prod.section#s-prod.lazy-background&attributes(attributes)
		.container
			block
			
			.row
				- for (var x = 0; x < 4; x++)
					+e.col.col-lg-4.col-sm-6
						+prod('1',' InDFOX Hygiene')
					// /+e.col.col-lg-4.col-sm-6
					
					+e.col.col-lg-4.col-sm-6
						+prod('2',' ELFODuct MP/HP')
					// /+e.col.col-lg-4.col-sm-6
					+e.col.col-lg-4.col-sm-6
						+prod('1',' InDFOX Hygiene')
					// /+e.col.col-lg-4.col-sm-6
					
			+b.foot-pagin
				.row
					.col
						+e.btn-foot(href="#") Показать еще
					.col-auto
						+pugin()
	// end s-prod